body{
    margin: 0px;
    font-family: 'Uchen', serif;
}


.flexible{
    display: flex;
    margin-bottom: 40px;
    
}
.text-container{
    width:40%;
    
    margin-left: 4%;
    padding-left: 0%;
    
}
h1{
    font-size: 50px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(168, 50, 3), rgb(18, 7, 173));
    padding: 10px 40px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
span{
    color: darkorange;
}

.image-container{
    width: 80%;
}
.image-container2{
    width: 60%;
    
}
.about-container{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
   
    background-size: 100%;
}



.recipes-text{
    text-align: center;
}
.recipie-container{
    width: 25%;
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    padding: 25px;
    margin: 10px;
    border-radius: 25px;
    
}
.recipie-container img{
    width: 100%;
}
#recipie-section{
    margin-left: 100px;
    
}
.channel{
    box-shadow: 5px 7px 40px gray;
    padding: 25px;
   
    margin-left: 100px;
    margin-right: 140px;
    border-radius: 20px;
    
}
.channel div{
    width: 30;
}
footer{
     background-color: black;
    text-align: center;
    padding: 40px;
}
.footer-container{
    color: white;
}
.footer-img{
    width: 20%;
}
